<div class="form-radio radio">
  {% ctx.values.forEach(function(item) { %}
  <div class="form-check{{ctx.inline ? '-inline' : ''}}" ref="wrapper">
    <!--{% if (ctx.component.optionsLabelPosition === 'left' || ctx.component.optionsLabelPosition === 'top') { %}
        <span>{{ctx.t(item.label)}}</span>
        {% } %}-->
    {%if (ctx.input.attr.hasOwnProperty('type')){
      if(ctx.input.attr['type'] === 'checkbox'){
        %} <div class="abc-checkbox abc-checkbox-primary"> {%
      }
      else if(ctx.input.attr['type'] === 'radio'){
        %} <div class="abc-radio abc-radio-primary"> {%
      }
      else {
        %} <div> {%
      }
    }
    %}
      <{{ctx.input.type}} ref="input" {% for (var attr in ctx.input.attr) { %} {{attr}}="{{ctx.input.attr[attr]}}"
          {% } %} value="{{item.value}}"
          {% if (ctx.value && (ctx.value === item.value || (typeof ctx.value === 'object' && ctx.value.hasOwnProperty(item.value) && ctx.value[item.value]))) { %}
          checked=true {% } %} id="{{ctx.id}}{{ctx.row}}-{{item.value}}">
          <label class="form-check-label" for="{{ctx.id}}{{ctx.row}}-{{item.value}}">
            {% if (!ctx.component.optionsLabelPosition || ctx.component.optionsLabelPosition === 'right' || ctx.component.optionsLabelPosition === 'bottom') { %}
            <span>{{ctx.t(item.label)}}</span>
            {% } %}
          </label>
        </div>
      </div>
      {% }) %}
    </div>