<div class="checkbox">
    {{ctx.input.content}}
    <label class="{{ctx.input.labelClass}}">
        {% if (!ctx.self.labelIsHidden()) { %}<span>{{ctx.input.label}}</span>{% } %}
    </label>
    <div ref="value">{% if (ctx.checked) { %}True{% } else { %}False{% } %}</div>
</div>